/* TAMPILAN MOBILE (DEFAULT) */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* STYLE NAVBAR */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 12px 0;
    z-index: 1000;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

/* LOGO NAVBAR */
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
    display: block;
}

/* HAMBURGER NAVBAR */
.hamburger img{
    width: 24px;
    cursor: pointer;
    display: block;
}

/* MENU DESKTOP */
.menu-desktop{
    display: none; /* hidden di tampilan mobile */
}

.menu-desktop a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 500;
}

.menu-desktop a.active{
    font-weight: 700;
}

/* BACKDROP OVERLAY */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    opacity: 0;
    visibility: hidden;
    z-index: 998;
}

.backdrop.active{
    opacity: 1;
    visibility: visible;
}

/* OVERLAY MENU MOBILE */
.overlay{
    position: fixed;
    top: -50%;
    width: 100%;
    background: black;
    z-index: 999;
    padding: 20px 0;
}

.overlay.active{
    top: 0;
}

.close{
    text-align: right;
    cursor: pointer;
}

.close img{
    width: 24px;
}

/* MENU OVERLAY */
.menu-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.menu-overlay a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

main{
    margin-top: 80px;
}

/* STYLE FOOTER */
footer{
    background-color: black;
    color: white;
    padding: 20px 40px;
}

.footer-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.footer-section{
    flex: 0 1 auto;
}

.footer-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.brand-section img{
    width: 120px;
    margin-bottom: 10px;
}

.brand-section p{
    font-size: 14px;
    margin-top: 5px;
}

.social-section{
    text-align: right;
}

.social-icons{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.social-icons img{
    width: 30px;
    height: auto;
}

.contact-section{
    flex: 1 1 100%;
}

.contact-section p{
    font-size: 14px;
    margin: 5px 0;
}

.footer-bottom{
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    border-top: 1px solid #333;
    padding-top: 20px;
    width: 100%;
}

/* TAMPILAN DESKTOP */
@media (min-width: 768px) {
    .menu-desktop{
        display: flex;
        align-items: center; 
    }

    .hamburger{
        display: none;
    }

    .backdrop{
        display: none;
    }

    .overlay{
        display: none;
    }

    .footer-container{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 80px;
        align-items: flex-start;
    }

    .footer-title {
        font-size: 20px;
    }

    .footer-section{
        flex: 0 1 auto;
        text-align: left;
    }

    .social-section{
        text-align: left;
    }

    .social-icons{
        justify-content: flex-start;
    }

    .contact-section{
        flex: 0 1 auto;
    }

    .footer-bottom{
        text-align: center;
        margin-top: 40px;
    }
}