/* Hero Section */
.hero{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero img{
    width: 100%;
    object-fit: cover;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h1{
    color: white;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
}

.hero-button{
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: white;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* About Section */
.about{
    margin-top: 50px;
    padding: 0px 20px;
    text-align: center;
}

.about h2{
    font-size: 18px;
    margin-bottom: 20px;
}

/* Info Cards (Visi & Misi) */
.card{
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 20px;
    text-align: left;
}

.card h3{
    margin-bottom: 10px;
    text-align: center;
}

.card ul{
    padding-left: 16px; 
    font-size: 13px;
}

/* Gallery Section */
.gallery{
    margin-top: 40px;
    padding: 0 20px; 
    text-align: center;
}

.gallery h2{
    font-size: 18px;
}

.gallery p{
    font-size: 12px;
    margin-bottom: 16px;
}

/* Container untuk Scroll */
.gallery-container{
    display: flex;
    gap: 20px;
    overflow-x: auto; 
}

/* Menghilangkan scrollbar di Chrome, Safari, dan Edge */
.gallery-container::-webkit-scrollbar {
    display: none;
}

.gallery-container img{
    width: 120px; 
    border-radius: 12px;
}