* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; }

body { 
    font-family: 'Poppins', sans-serif; 
    background-color: #eeeeee; 
    overflow-x: hidden; }

/* -Default mobile */
.header-mobile { 
    background: #000; 
    width: 100%; 
    display: block; 
}

.nav-container { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 20px; 
}

.logo img {
    height: 30px; 
}

.hamburger img { 
    width: 25px; 
    cursor: pointer; 
}

/* Menu sidebar */
.menu-samping {
    position: fixed; 
    top: 0; 
    left: -100%; 
    width: 260px; 
    height: 100vh;
    background: #000; 
    color: #fff; 
    padding: 30px 20px;
    display: flex; 
    flex-direction: column; 
    transition: 0.4s; 
    z-index: 1000;
}

.menu-samping.tampil {
     left: 0; 
}

.logo-area {
    text-align: center; 
    margin-bottom: 30px; 
}

.logo-area img {
    width: 40px; 
}

.navigasi a { 
    color: #fff; 
    text-decoration: none; 
    display: block; 
    padding: 12px; 
    margin-bottom: 5px; 
}

.navigasi a.aktif { 
    background: #fff; 
    color: #000; 
    border-radius: 10px; 
    font-weight: bold; 
}

.garis-pemisah {
    border-top: 1px solid #333;
    margin: 15px 0; 
}

.footer-sidebar { 
    margin-top: auto;
    text-align: center; 
    font-size: 12px;
    color: #666; 
}

/* Home */
.isi-utama { 
    padding: 20px; 
}

.header-karina { 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    margin-bottom: 30px; 
}

.profil-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profil-box img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.nama-hitam {
    background: #000;
    color: #fff;
    padding: 5px 12px;
    font-weight: bold;
    font-size: 12px;
}

.sub-nama {
    font-size: 11px;
    color: #777;
    display: block;
    margin-top: 4px;
}

/* Design Card */
.card-putih {
    background: #fff; 
    padding: 25px; 
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    margin-bottom: 25px; 
}

.judul-kiri, .header-kartu { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.header-kartu {
    justify-content: space-between; 
}

.garis-tegak {
    width: 5px; 
    height: 22px; 
    background: #000;
}

.teks-kecil { 
    font-size: 12px;
    color: #888;
    margin-top: 5px;
    margin-bottom: 15px; 
}

/* upload  */
.area-upload-lebar, .upload-kotak-kecil {
    background: #fafafa;
    border: 1px #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #888;
}

.area-upload-lebar {
    padding: 50px 20px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
}

.foto-gallery, .upload-kotak-kecil { 
    height: 180px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.box-abu-isi {
    background: #e9e9e9;
    padding: 20px;
    border-radius: 15px;
    font-size: 13px;
}

.icon-btn img {
    width: 35px;
    cursor: pointer;
}

.btn-simpan {
    display: block;
    margin: 40px auto;
    background: #000;
    color: #fff;
    padding: 12px 50px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.tombol-aksi {
    display: flex;
    gap: 25px;
}

/* Ukuran Dekstop */
@media screen and (min-width: 768px) {
    .header-mobile { 
        display: none; 
    }

    .container-admin {
        display: flex; 
    }

    .menu-samping {
        position: sticky;
        left: 0;
        min-width: 260px;
    }

    .isi-utama {
        flex: 1;
        padding: 40px 60px;
    }

    .header-karina {flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}